
.form,
.greeting
{
    display : none;
}

.showing
{
    display : block;
    color : white;
    text-align : center;
    font-size : 25px;
    margin-top : 0px;
}

body {
    background-image : url("image/1.jfif")
}

h1 {
    color:white;
    text-align :center;
    margin-top :170px;
    font-size : 100px;
    margin-bottom : 12px;
}

.toDoList {
    margin-left : 500px;
    color : white;
    text-align : left;
}

.toDoForm {
    text-align : center;
}

/*.bgImage {
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    z-index : -1;

}*/

.weather {
    color: white;
}